button.scale-legend {
    display: inline-block;    
}

.scale-list {
    display: inline-block;
}

.scale {
    display: none;
}

.scale.active {
    display: table;
    margin-right: 7px;
}
.scale-caption {
    display: table-caption
}
.scale-entry {
    display: table-cell;
    width: 20px;
}

.scale-legend {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTksM0wzLjM2LDQuOUMzLjE1LDQuOTcgMyw1LjE1IDMsNS4zOFYyMC41QTAuNSwwLjUgMCAwLDAgMy41LDIxTDMuNjYsMjAuOTdMOSwxOC45TDE1LDIxTDIwLjY0LDE5LjFDMjAuODUsMTkuMDMgMjEsMTguODUgMjEsMTguNjJWMy41QTAuNSwwLjUgMCAwLDAgMjAuNSwzTDIwLjM0LDMuMDNMMTUsNS4xTDksM004LDUuNDVWMTcuMTVMNSwxOC4zMVY2LjQ2TDgsNS40NU0xMCw1LjQ3TDE0LDYuODdWMTguNTNMMTAsMTcuMTNWNS40N00xOSw1LjdWMTcuNTRMMTYsMTguNTVWNi44NkwxOSw1LjdNNy40Niw2LjNMNS41Nyw2Ljk3VjkuMTJMNy40Niw4LjQ1VjYuM003LjQ2LDkuMDVMNS41Nyw5LjcyVjExLjg3TDcuNDYsMTEuMlY5LjA1TTcuNDYsMTEuOEw1LjU3LDEyLjQ3VjE0LjYyTDcuNDYsMTMuOTVWMTEuOE03LjQ2LDE0LjU1TDUuNTcsMTUuMjJWMTcuMzdMNy40NiwxNi43VjE0LjU1WiIgLz48L3N2Zz4=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}