.scale-list {
    display: none;
}

.maplibregl-ctrl-group .scale-list button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 8px 8px 6px;
    text-align: right;
    width: 100%;
    height: auto;
}

.scale-list button.active {
    font-weight: bold;
}

.scale-list button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.scale-list button + button {
    border-top: 1px solid #ddd;
}

.scale-legend {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTksM0wzLjM2LDQuOUMzLjE1LDQuOTcgMyw1LjE1IDMsNS4zOFYyMC41QTAuNSwwLjUgMCAwLDAgMy41LDIxTDMuNjYsMjAuOTdMOSwxOC45TDE1LDIxTDIwLjY0LDE5LjFDMjAuODUsMTkuMDMgMjEsMTguODUgMjEsMTguNjJWMy41QTAuNSwwLjUgMCAwLDAgMjAuNSwzTDIwLjM0LDMuMDNMMTUsNS4xTDksM004LDUuNDVWMTcuMTVMNSwxOC4zMVY2LjQ2TDgsNS40NU0xMCw1LjQ3TDE0LDYuODdWMTguNTNMMTAsMTcuMTNWNS40N00xOSw1LjdWMTcuNTRMMTYsMTguNTVWNi44NkwxOSw1LjdNNy40Niw2LjNMNS41Nyw2Ljk3VjkuMTJMNy40Niw4LjQ1VjYuM003LjQ2LDkuMDVMNS41Nyw5LjcyVjExLjg3TDcuNDYsMTEuMlY5LjA1TTcuNDYsMTEuOEw1LjU3LDEyLjQ3VjE0LjYyTDcuNDYsMTMuOTVWMTEuOE03LjQ2LDE0LjU1TDUuNTcsMTUuMjJWMTcuMzdMNy40NiwxNi43VjE0LjU1WiIgLz48L3N2Zz4=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}